flask==2.3.3
openai==0.28.0
elevenlabs==0.2.26
pydub==0.25.1
pytube==15.0.0
moviepy==1.0.3
pydantic==2.3.0
websockets==11.0.3
jedi==0.19.0
annotated-types==0.5.0
pydantic-core==2.6.3
typing-extensions==4.7.1

